*{
	font-family: 'Montserrat', sans-serif;
}
p{
	font-size: 16px;
}

/* ----------------------NAVBAR-------------------- */


.navbar-brand{
	padding: 0px;
	margin: 0px 30px;
}

.box-imgs{
	overflow: hidden;
	height: 100%;
	width: 100%;
}
.imgs-of-box{
	max-height: 100%;
	display: block;
	position:relative;
	left:50%;	top:50%;
	transform: translate(-50%, -50%);
	border-radius: 8px;
}

.underline-btn:before, .underline-btn:after {
	content: '';	display: block;	position: absolute;
	height: 2px;	width: 0;}
.underline-btn:before {
	transition: width 0s ease,background .4s ease;
	left: 0;	right: 0;	bottom: 6px;}
.underline-btn:after {
	right: 2.2%;	bottom: 6px;
	background: #34526E;
	transition: width .4s ease;}
.underline-btn:hover:before, .underline-btn li.active{
	width: 97.8%;	background: #34526E;
	transition: width .4s ease;}
.underline-btn:hover:after, .underline-btn li.active{
	width: 97.8%;	background: 0 0;
	transition: all 0s ease;}


	/* ----------------------TITLE-------------------- */

.title-box{
	width: 90%;
	border-bottom: 2px solid #34526E;
	min-height: 94px;
	margin: 30px auto;
}
.title-img{
	width: 80px;	height: 80px;
	display: inline-block;
	margin: 5px 20px;
	text-align: center;
}
.title-img img{
	height: 100%;
}
.title-img-box{
	width: 100px;
	display: inline-block;
}
.title-txt{
	width: 70%;
	display: inline-block;
	vertical-align: middle;
	margin: 5px;
	color: #34526E;
}

/* ----------------------SLIDE-------------------- */

.carousel-top {
	height: 600px; width: 100%;
	overflow: hidden;
}

.carousel-top img{
	min-height: 100% ;min-width: 100%; 
}

.carousel-indicators li{
	box-shadow: 4px 2px 20px rgba(0,0,0, 1);
}

/* ----------------------QUEM SOMOS-------------------- */
.sec-about{
	height: 600px;
}
.multi-carousel-content{
	width: 100%;
	margin: 0px auto;
}
.inner-btm{
	margin: 0px auto;
}
.multi-item-carousel{
	height: 350px;
	overflow: hidden;
}
.box-txt-about{
	height: 50px;
	text-align: center;
}
.box-txt-about h3{
	background-color: #34526E;
	border: 3px solid #B8E9FD;
	line-height: 40px;
	border-radius: 25px;
	color: white;
}
.box-img-about{
	height: 280px;
	overflow: hidden;
	border-radius: 25px;
}
.box-img-about img{
	min-width: 100%; min-height: 100%;
	display: block;
	position:relative;
	left:50%;
	top:50%;
	transform: translate(-50%, -50%);
}
.carousel a{
	transition: all 300ms ease-out; opacity: 0;
}
.carousel:hover a{
	transition: all 200ms ease-out; opacity: 1;
}

/* ----------------------SERVIÇOS-------------------- */

.sec-test{
	width: 100%;
	padding: 20px 0px 50px 0;
}
.sec-serv{
	width: 100%;
	/*padding: 20px 0px 50px 0;*/
	background-color: #B8E9FD;
}

.section-service{
	width: 100%;
	background-color: #B8E9FD;
	padding: 20px 0px 30px 0;
}
.box-service{
	width: 100%;
	text-align: center;
}
.item-service{
	width: 28% ;	height: 430px;
	display: inline-block;
	margin: 10px 20px;
	border: 2px solid white;
	overflow: hidden;
	border-radius: 4px;
	background-color: white;
}
.serv-img{
	position: relative;
	width: 100% ;	height: 350px;
	margin: 0px auto;
	overflow: hidden;
}
.serv-img img{
	margin: 0px auto;
	opacity: 1;
	transition: .5s ease;
	min-width: 100%; min-height: 100%;
	display: block;
	position:relative;
	left:50%;
	top:50%;
	transform: translate(-50%, -50%);
}
.abrirmodal {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.serv-img:hover .img-serv {
	opacity: 0.3;
}
.serv-img:hover .abrirmodal {
	opacity: 1;
}
.serv-txt{
	width: 100%;
	border-top: 2px solid white;
	margin-top: 0;
	padding: 0px 8px;
	overflow-y: scroll;
}

.icon-serv{
	width: 40px; height: 40px; margin: 0px auto;
}
.icon-serv img{
	width: 100%; height: 100%;
}

.box-modal-imgs{
	width: 98%;
	margin: 0px auto;
}
.modal-img{
	/*margin: 0px 0.5%;*/
	display: inline-block;
	width: 32%;
	height: 250px;
	background-color:#EAEAEA;
}
.modal-img img{
	max-width: 100%; max-height: 100%;
	display: block;
	position:relative;
	left:50%;
	top:50%;
	transform: translate(-50%, -50%);
}


/* ---------------------DIFERENCIAL------------------- */

.different{
	width: 100%;
	text-align: center;
}
.dif-box{
	display: inline-block;
	text-align: left;
	width: 20%;
	margin: 0px 3%;
}
.dif-img{
	position: absolute;
	top: -10px; left: -58px;
	width: 50px; height: 50px;
	overflow: hidden;
}
.dif-img img{
	width: 100%; height: 100%;
}

/* ---------------------CONTATO------------------- */

.box-footer{
	width: 100%;
	background-color: #B8E9FD;
}
.footer{
	width: 100%;
}
.contato{
	display: inline-block;
	width: 45%; height: 300px;
	margin: 0 2% 0 5%;
	vertical-align: top;
}
.mapa{
	display: inline-block;
	width: 40%; height: 300px;
	margin: 0 2%;
	vertical-align: top;
}
.info-footer{
	width: 100%;
}
.info-local{
	width: 20%;
	display: inline-block;
	margin: 0 2%;
	vertical-align: top;
}
.info-contato{
	width: 20%;
	display: inline-block;
	margin: 0 2%;
	vertical-align: top;
}
.info-social{
	width: 45%;
	display: inline-block;
	margin: 0 2%;
	vertical-align: top;
	text-align: right;
}
.img-social{
	width: 45px;
	height: 45px;
	display: inline-block;
	margin: 40px 5px;
	vertical-align: middle;
}
.img-social img{
	transition: all 200ms ease-out;
	transform: scale(1);
}
.img-social:hover img{
	transition: all 200ms ease-out;
	transform: scale(1.2);
}
.img-social img{
	width: 100%; height: 100%;

}
.botao-foot{
	background-color: #5C768E;
	color: white;
	transition: all 200ms linear;
	transform: scale(1);
}
.botao-foot:hover{
	color: white;
	background-color: #34526E;
	transition: all 200ms ease-out;
	transform: scale(1.01);
	font-size: 16px;
}
.eject{
	font-size: 14px; text-align: left; margin-left: 2%;
}

/* ---------------------OUTROS------------------- */

::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
	background: #888; 
}

.slideanim {visibility:hidden;}
.slidea {
	animation-name: slidea;
	animation-duration: 1s;
	visibility: visible;
}
@keyframes slidea {
	0% {opacity: 0;transform: translateY(70%);} 
	100% {opacity: 1;transform: translateY(0%);}}

.dif-box:hover .cardif{
	animation-name: cardif;
	animation-duration: 2s;
}
.dif-box:hover .timedif{
	animation-name: timedif;
	animation-duration: 2s;
}
.dif-box:hover .pricdif{
	animation-name: pricdif;
	animation-duration: 2s;
}
@keyframes cardif{
	50% {transform: translate(60px); opacity: 1}
	51% {opacity: 0}
	52% {transform: translate(-60px)}
	53% {opacity: 1}
	100% {transform: translate(0px)}
}
@keyframes timedif{
	50% {transform: rotate(360deg);}
	100% {transform: rotate(0deg);}
}
@keyframes pricdif{
	40% {transform: scale(1.5);}
	60% {transform: scale(0.7);}
	100% {transform: scale(1.0);}
}

/* -----   Multi Carousel   -----  */

.multi-item-carousel .carousel-inner > .item {
	transition: 500ms ease-in-out left;
}
.multi-item-carousel .carousel-inner .active.left {left: -33%;
}
.multi-item-carousel .carousel-inner .active.right {left: 33%;
}
.multi-item-carousel .carousel-inner .next {left: 33%;
}
.multi-item-carousel .carousel-inner .prev {left: -33%;
}

@media all and (transform-3d), (-webkit-transform-3d) {
	.multi-item-carousel .carousel-inner > .item {
		-webkit-transition: 500ms ease-in-out left;
		transition: 500ms ease-in-out left;
		-webkit-transition: 500ms ease-in-out all;
		transition: 500ms ease-in-out all;
		-webkit-backface-visibility: visible;
		backface-visibility: visible;
		-webkit-transform: none!important;
		transform: none!important;
	}
}
.multi-item-carousel .carouse-control.left,
.multi-item-carousel .carouse-control.right {
	background-image: none;
}

/* ---------------------ANIMAÇÃO SERV------------------- */

.loop-wrapper {
	margin: 0 auto;
	position: relative;
	display: block;
	width: 100%;
	height: 150px;
	overflow: hidden;
	border-bottom: 3px solid #fff;
	color: #fff;
}
.mountain {
	position: absolute;
	right: -900px; bottom: -20px;
	width: 2px; height: 2px;
	box-shadow: 
	0 0 0 50px #75A9BF,
	60px 50px 0 70px #75A9BF,
	90px 90px 0 50px #75A9BF,
	250px 250px 0 50px #75A9BF,
	290px 320px 0 50px #75A9BF,
	320px 400px 0 50px #75A9BF
	;
	transform: rotate(130deg);
	animation: mtn 20s linear infinite;
}
.hill {
	position: absolute;
	right: -900px; bottom: -50px;
	width: 400px; height: 20px;
	border-radius: 50%;
	box-shadow: 
	0 0 0 50px #89BCD2,
	-20px 0 0 20px #89BCD2,
	-90px 0 0 50px #89BCD2,
	250px 0 0 50px #89BCD2,
	290px 0 0 50px #89BCD2,
	620px 0 0 50px #89BCD2;
	animation: hill 4s 2s linear infinite;
}
.tree, .tree:nth-child(2), .tree:nth-child(3) {
	position: absolute; bottom: 0;
	height: 100px; width: 35px;
	background: url(../static/images/tree.png) no-repeat;
}
.truck{
	transition: all ease;
	width: 85px;
	position: absolute;
	bottom: 0px; right: 50%;
}
.truck{
	height: 80px; width: 200px;
	background: url(../static/images/truck.png) no-repeat;
	background-size: contain;
}
.truck:before {
	content: " ";
	position: absolute;
	width: 25px;
	box-shadow:
	-30px 28px 0 1.5px #fff,
	-35px 18px 0 1.5px #fff;
}
.tree  { animation: tree 3s 0.000s linear infinite; }
.tree:nth-child(2)  { animation: tree2 2s 0.150s linear infinite; }
.tree:nth-child(3)  { animation: tree3 8s 0.050s linear infinite; }
.rock  { animation: rock 4s   -0.530s linear infinite; }
.truck  { animation: truck 4s   0.080s ease infinite; }
.truck:before { animation: wind 1.5s   0.000s ease infinite; }

@keyframes tree {
	0%   { transform: translate(1350px); } 50% {}
	100% { transform: translate(-20px); }
}
@keyframes tree2 {
	0%   { transform: translate(650px); } 50% {}
	100% { transform: translate(-20px); }
}
@keyframes tree3 {
	0%   { transform: translate(2750px); } 50% {}
	100% { transform: translate(-20px); }
}
@keyframes truck {
	0%   { transform: translateY(0px); } 100%   { }
}
@keyframes wind {
	0%   {  } 50%   { transform: translateY(3px) } 100%   { }
}
@keyframes mtn {
	100% {transform: translateX(-2800px) rotate(130deg);}
}
@keyframes hill {
	100% {transform: translateX(-2800px);}
}

/* ---------------------RESPONSIVO------------------- */

@media (max-width: 600px){
	.carousel-top{height: 300px;}
	.carousel-top img{min-height: 300px ;min-width: 100%;}
	.box-imgs{width: 200px;}
	.box-imgs img{width: 100%;}

	.title-img{width: 50px;	height: 50px;	margin: 2px 10px;}
	.title-txt h1{font-size: 30px;}
	.title-img-box{width: 60px;}

	.item-service{width: 90%}
	.truck{right: 25%;}
	.sec-about{height: auto;}

	.modal-img{width: 100%;}

	.dif-box{width: auto; margin: 0px 10px 0px 68px}

	.contato{width: 90%; margin: 0px 12px}
	.mapa{width: 90%; margin: 65px 12px 0 12px}
	.info-footer{text-align: center;}
	.info-local{width: 90%}
	.info-contato{width: 90%}
	.info-social{width: 90%; text-align: center;}
	.eject{text-align: center; margin: 0;}
	
}

/* ---------------------LIXO------------------- */




.tt1{
	background-color: red
}
.tt2{
	background-color: blue
}
.tt3{
	background-color: green
}