*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.slider {
  position: relative;
  height: 100vh;
}

.slider__slides {
  z-index: 1;
  position: relative;
  height: 100%;
}
.slider__control {
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 10%;
  width: 30px;
  height: 30px;
  margin-left: -30px;
  margin-top: -30px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  cursor: pointer;
}
.slider__control--right {
  left: 95%;
}
.slider__control:hover {
  background-color: #34526E;
}
.slider__control-line {
  position: absolute;
  left:25%;
  top: 50%;
  width: 3px;
  height: 14px;
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.slider__control-line:nth-child(2) {
  -webkit-transform: translateY(1px) rotate(-135deg);
          transform: translateY(1px) rotate(-135deg);
}
.slider__control--right .slider__control-line {
  left: 70%;
  -webkit-transform-origin: 1px 0;
          transform-origin: 1px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.slider__control--right .slider__control-line:nth-child(2) {
  -webkit-transform: translateY(1px) rotate(135deg);
          transform: translateY(1px) rotate(135deg);
}
.slider__control-line:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #e2e2e2;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.slider__control:hover .slider__control-line:after {
  background-color: #fff;
}
.slider__control.a--rotation .slider__control-line:after {
  -webkit-animation: arrowLineRotation 0.49s;
          animation: arrowLineRotation 0.49s;
}
.slider__control.a--rotation .slider__control-line:nth-child(1):after {
  -webkit-animation: arrowLineRotationRev 0.49s;
          animation: arrowLineRotationRev 0.49s;
}

@-webkit-keyframes arrowLineRotation {
  to {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@keyframes arrowLineRotation {
  to {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
@-webkit-keyframes arrowLineRotationRev {
  to {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}
@keyframes arrowLineRotationRev {
  to {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}
.slidei {
  right: 0;
  overflow: hidden;
  position: absolute;
  width: 100vw;
  height: 100vh;
  -webkit-transition: -webkit-clip-path 0s 0.91s;
  transition: -webkit-clip-path 0s 0.91s;
  transition: clip-path 0s 0.91s;
  transition: clip-path 0s 0.91s, -webkit-clip-path 0s 0.91s;
  -webkit-clip-path: circle(30px at 120vw 50%);
          clip-path: circle(30px at 120vw 50%);
}
.slidei.s--prev {
  -webkit-clip-path: circle(30px at 120vw 50%);
          clip-path: circle(30px at 120vw 50%);
}
.slidei.s--active {
  z-index: 1;
  -webkit-transition: -webkit-clip-path 1.3s;
  transition: -webkit-clip-path 1.3s;
  transition: clip-path 1.3s;
  transition: clip-path 1.3s, -webkit-clip-path 1.3s;
  -webkit-clip-path: circle(130vmax at 120vw 50%);
          clip-path: circle(130vmax at 120vw 50%);
}
.slidei.s--active.s--active-prev {
  -webkit-clip-path: circle(130vmax at 30vw 50%);
          clip-path: circle(130vmax at 30vw 50%);
}

.slidei:nth-child(1) .slide__inner {
     
}
.slidei:nth-child(2) .slide__inner {
  
}
.slidei:nth-child(3) .slide__inner {
  
}
.slidei:nth-child(4) .slide__inner {
  
}
.slidei:nth-child(5) .slide__inner {
  
}

.slide__inner {
  display: flex;
  align-items: center;
  text-align: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center center;
}
.slide__inner:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.slide__content {
  width: 100%;
  padding: 5%;
  top: 50%;
  margin-top: 48px;
  color: #fff;
}
.slide__heading {
  filter: drop-shadow(2px 2px 10px rgba(0,0,0,0.7));
  margin-bottom: 20px;
  font-size: 60px;
  color: #ffffff;
}
.slide__text {
  filter: drop-shadow(2px 2px 10px rgba(0,0,0,0.7));
  font-size: 25px;
}
.slide__text a {
  color: inherit;
}